* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background: black;
}

#app {
	margin: auto;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#app #loading, #app #full {
	color: white;
}

#app video {
	max-width: 100%;
	margin: auto;
	display: flex;
}

#app #videos_container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 24px;
	max-width: 100%;
}